{% load static %}

<nav class="navbar bg-dark mb-4" data-bs-theme="dark" aria-label="Main Navigation">
    <div class="container-fluid">
    <a class="navbar-brand navbar-icon" href="{% url 'index' %}">
        <img src="{% static 'images/favicon/favicon.ico' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        CafeTech
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Abrir menu de navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <a href="{% url 'home' %}" class="nav-link link-success">{{ user.username }}</a>
            <a class="nav-link link-danger" href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class="nav-link" href="{% url 'register' %}">Sign-up</a>
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
          <a class="nav-link active" href="https://github.com/Brubzie/fatec-dsm-pi-4sem/" target="_blank" rel="noopener noreferrer">Repositório</a>
        </div>
    </div>
    </div>
</nav>
