/* Animação do ícone dentro da navbar */
.navbar-icon {
    transition: transform 0.2s ease-in-out;
}

.navbar-icon:hover {
    transform: scale(1.1);
}

/* Estilização das mensagens de erro */
.errorlist {
    color: #ff4c4c;
    list-style-type: none;
    padding: 0;
}
.errorlist li {
    margin-bottom: 5px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
}

/* Estilização do formulário */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.cafetech {
    background-color: #f5f5dc; /* Cor beige suave, semelhante à cor do café com leite */
    color: #3b2c1f; /* Cor marrom escuro, representando café */
    border: 2px solid #6f4c3e; /* Cor de borda similar ao café torrado */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    font-family: 'Arial', sans-serif; /* Fonte simples e legível */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
    transition: background-color 0.3s ease; /* Transição suave para mudanças de fundo */
}

.cafetech:hover {
    background-color: #e3d9b5; /* Cor de fundo ao passar o mouse */
}
