<!-- Template base -->
{% extends 'base.html' %}

<!-- Título da página -->
{% block page_title %}
    Register
{% endblock page_title %}

<!-- Conteúdo da página -->
{% block content %}
    <div class="container container-register" style="margin-top: 50px; max-width: 600px; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center; margin-bottom: 20px; color: #3e8e41;">Cadastro de Usuário</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div style="margin-bottom: 15px;">
                <label for="username" style="font-weight: bold;">Nome de Usuário:</label>
                <input type="text" id="username" name="username" placeholder="Digite seu nome de usuário" style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; margin-top: 5px;">
            </div>
            <div style="margin-bottom: 15px;">
                <label for="email" style="font-weight: bold;">Email:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email" style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; margin-top: 5px;">
            </div>
            <div style="margin-bottom: 15px;">
                <label for="phone_number" style="font-weight: bold;">Número de Telefone:</label>
                <input type="text" id="phone_number" name="phone_number" placeholder="Digite seu telefone" style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; margin-top: 5px;">
            </div>
            <div style="margin-bottom: 15px;">
                <label for="password" style="font-weight: bold;">Senha:</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 5px; margin-top: 5px;">
            </div>
            <div style="text-align: center;">
                <button type="submit" style="padding: 10px 20px; background-color: #3e8e41; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 1rem;">
                    Cadastrar
                </button>
            </div>
        </form>
        <div style="text-align: center; margin-top: 20px;">
            <p>Já tem uma conta? <a href="{% url 'login' %}" style="color: #3e8e41; text-decoration: none;">Entre aqui</a>.</p>
        </div>
    </div>

    <script>
        document.getElementById('phone_number').addEventListener('input', function (e) {
            let value = e.target.value.replace(/\D/g, '');
            value = value.replace(/^(\d{2})(\d)/g, '($1) $2');
            value = value.replace(/(\d{5})(\d)/, '$1-$2');
            e.target.value = value.slice(0, 15); // Limita ao formato (99) 99999-9999
        });        
    </script>
{% endblock content %}
