{% extends "base.html" %}
{% load static %}

<!-- Título -->
{% block page_title %}
    Login
{% endblock page_title %}

<!-- Conteúdo da página -->
{% block content %}
    <div class="form-container">
        <h2>Login</h2>
        <!-- Login forms -->
        <form method="post" class="form" action="{% url 'login' %}">
            {% csrf_token %}
            
            <!-- Exibir erros gerais do formulário -->
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="form-group">
                <!-- Campo de username -->
                {{ form.username.label_tag }}
                {{ form.username }} 
                {% if form.username.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.username.errors|striptags }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <!-- Campo de password -->
                {{ form.password.label_tag }} 
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.password.errors|striptags }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <!-- Login forms - End -->

        <!-- Google One Tap Button -->
        <div id="buttonDiv"></div>
        <!-- Google One Tap Button - End -->
    </div>

    <!-- Google One Tap Script -->
    <script>
        function handleCredentialResponse(response) {
            console.log("Encoded JWT ID token: " + response.credential);
        }

        window.onload = function () {
            google.accounts.id.initialize({
                client_id: "{{ YOUR_GOOGLE_CLIENT_ID }}",
                callback: handleCredentialResponse
            });

            google.accounts.id.renderButton(
                document.getElementById("buttonDiv"),
                { theme: "outline", size: "large" }  // Customização do botão
            );
            
            google.accounts.id.prompt(); // Exibe o One Tap automaticamente
        }
    </script>
    <!-- Google One Tap Script - End -->
{% endblock content %}