{% extends "base.html" %}
{% load static %}

<!-- Título -->
{% block page_title %}
    Home
{% endblock page_title %}

<!-- Conteúdo da página -->
{% block content %}

<!-- Início Social -->
<div class="section">
    <h1>Confira as postagens dos membros nas redes sociais</h1>
    <img src="{% static 'images/Image_Social.jpg' %}" class="img-fluid rounded" alt="Redes Sociais">
</div>

<!-- Seção de Posts -->
<div class="section">
    <h2>Instagram @cafetech</h2>
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/CanecaSorteio.jpeg' %}" class="card-img-top" alt="post 1" height="250px">
            <div class="card-body">
                <h5 class="card-title">repost from @thiago</h5>
                <p class="card-text">Ihuuu, ganhei o sorteio da caneca esse mês!!</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/CaféRefeitório.jpeg' %}" class="card-img-top" alt="post 2" height="250px">
            <div class="card-body">
                <h5 class="card-title">repost from @arantes</h5>
                <p class="card-text">Já estamos no nosso novo ponto de retirada do café, colem aí</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/Lanchinho.jpeg' %}" class="card-img-top" alt="post 3" height="250px">
            <div class="card-body">
                <h5 class="card-title">repost from @frank</h5>
                <p class="card-text">Hoje o café foi diferente</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}